@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">AutoScout24</h1>
    <img src="https://cdn.freelogovectors.net/wp-content/uploads/2020/06/autoscout24.png" height="350" width="350" />
    <p class="display-3">Benvenuti alla lista di auto dinamica!</p>
</div>
